<!doctype html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>sobre mim</h1>
            <p>oi Sou Renan Thomaz, atuo na area de redes atualmente porém quero ser programador</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>